/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2019, 6:10:30 PM
    Author     : sbatchu
*/

.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      .menu li {
        float: left;
      }

      .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .menu li a:hover:not(.active) {
        background-color: #111;
      }

      .menu .active {
        background-color: #4CAF50;
      }

      .header{
          
          width:951px ;
      }
      .submenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      .submenu li {
        float: left;
      }

      .submenu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .submenu li a:hover:not(.active) {
        background-color: #111;
      }

      .submenu .active {
        background-color: #4CAF50;
      }